html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#decisionPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}

#decisionButtons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
    box-sizing: border-box;

    flex: 0 1 auto;
    height: 128px;
    align-items: stretch;

}

#inputOutput {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#inputOutput>* {
    flex: 1 1 1px;
}

#optionsInputAndHistory,
#resultsAndImports {
    margin-left: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#optionsInputAndHistory>* {
    flex: 1 1 1px;
    overflow-y: auto;
    margin-bottom: 8px;
}

#optionsInputAndHistory>label,
#resultsAndImports>label {
    flex: 0 1 auto;
    font-weight: bold;
    margin-bottom: 6px;
}


#history>* {
    background-color: lightblue;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#deleteHistory {
    position: absolute;
    right: 0px;
}

#historyHeadline {
    position: relative;
    overflow: visible;
}

#optionsInput {
    resize: none;
    flex: 1 1 1px;
    min-height: 36px;
    /* margin-bottom: 8px; */
}

#optionsInputAndHistory {
    margin: 8px;
    display: flex;
    flex-direction: column;
}

#leftButton,
#rightButton {
    flex: 1 1 auto;
    font-size: x-large;
}

#leftButton {
    margin-right: 8px;
}

#progressBar {
    width: 100%;
    margin-top: 8px;
}

button:enabled {
    cursor: pointer;
}

select {
    cursor: pointer;
}

.material-icons,
.material-icons-outlined {
    cursor: pointer;
}

#results label {
    font-weight: bold;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
}

#results>* {
    margin-right: 8px;
    margin-bottom: 8px;
}

#importForm {
    display: flex;
    flex-direction: row;
}

#importInput {
    min-width: 0px;
}