html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#decisionPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}

#decisionButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
    box-sizing: border-box;

}

#inputOutput {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#inputOutput>* {
    flex: 1 1 1px;
}

#historyAndResult {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#historyAndResult>* {
    flex: 1 1 1px;
    overflow-y: auto;
    margin-bottom: 8px;
}

#historyAndResult>label {
    flex: 0 1 auto;
    font-weight: bold;
    margin-bottom: 6px;
}


#history>* {
    background-color: lightblue;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#deleteHistory {
    position: absolute;
    right: 0px;
}

#historyHeadline {
    position: relative;
    overflow: visible;
}

#optionsInput {
    resize: none;
    margin-bottom: 8px;
}

#leftButton,
#rightButton {
    height: 256px;
    flex: 1 1 auto;
}

#leftButton {
    margin-right: 8px;
}

#progressBar {
    width: 100%;
    margin-top: 8px;
}

button:enabled {
    cursor: pointer;
}

select {
    cursor: pointer;
}

.material-icons,
.material-icons-outlined {
    cursor: pointer;
}

#results label {
    font-weight: bold;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#results>* {
    margin-right: 8px;
}